@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui"{
    themes: all;
}
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; 
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(98% 0.02 240);
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: oklch(55% 0.3 240);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(70% 0.25 200);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);


  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;


  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;

  --depth: 1;
  --noise: 0;
} 

@custom-variant dark (&:where(.dark, .dark *));

/* Fonts */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.raleway-thin {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.raleway-extralight {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.raleway-light {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.raleway-medium {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.raleway-semibold {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.raleway-extrabold {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
}


/* SWAL ALERT STYLES */
.my-swal-popup {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.my-swal-title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.swal-light {
  font-family: "Poppins", sans-serif;
  color: #555;
  height: 300px;
  width:2
}

.swal-dark{
  font-family: "Poppins", sans-serif;
  color: #f9f9f9;
}